<h1> Archive: <%=h @archive.title %> </h1> 

<% form_for(@archive) do |f| %>
  <%= f.error_messages %>
  <div class="indent">
  <h2> Meta Data Manager Urls </h2>
  <table>
  <tr>
    <td> <%= f.label :create_url_pattern  %> </td>
    <td> <%= f.text_field :create_url_pattern, :size => 80 %> </td>
  </tr>
  <tr>
    <td> <%= f.label :update_url_pattern  %> </td>
    <td> <%= f.text_field :update_url_pattern, :size => 80 %> </td>
  </tr>
  <tr>
    <td> <%= f.label :show_url_pattern  %> </td>
    <td> <%= f.text_field :show_url_pattern, :size => 80 %> </td>
  </tr>
  </table>
  <p>
    <%= f.submit "Update" %>
  </p>

  <h2> Globals for all Archives (define in db or via rake tasks) </h2>
  <table>
  <tr>
    <td> test_plugin_url </td>
    <td> <%= Global.get("test_plugin_url") %> </td>
  </tr>
  <tr>
    <td> production_plugin_url </td>
    <td> <%= Global.get("production_plugin_url") %> </td>
  </tr>
   <tr>
    <td> retired_plugin_url </td>
    <td> <%= Global.get("retired_plugin_url") %> </td>
  </tr>

  </table>

  </div>

<% end %>

</p>
