<h1>Create New Plugin</h1>

<% form_for(@plugin) do |f| %>
<%= f.error_messages %>
<table class="layout">
    <tr>
        <td>
            &nbsp; 
        </td>
        <td>
            Plugin Name 
        </td>
    </tr>
    <tr>
        <td>
            <% if (@content_provider) then %>
            <%= @content_provider.plugin_prefix %>.<% else %>
            <%= select_one 'plugin[content_provider]', ContentProvider.find(:all),:plugin_prefix %>
            <% end %>
        </td>
        <td>
            <%= f.text_field :name %> 
			</td>
			<td> &nbsp; </td>
			<td>
            Entering 'library.etds' for example <br/>
			creates a plugin with the name '<%= @content_provider.plugin_prefix %>.library.etds'
        </td>
    </tr>
</table>
<p>
    <%= f.submit "Create" %>
</p>
<% end %>
