<%= render :partial => "/plugins/headline" %>

<table class="show_record_table">
<%= render :partial => "/plugins/prop_provider" %>
<%= render :partial => "/plugins/prop_plugin_xml" %>
<%= render :partial => "/plugins/prop_params" %>
</table> 


<%= left_right_title(
             "Collections", 
             link_to('List Archival Units', plugins_archival_units_path(@plugin)))
%>

<%= error_messages_for 'plugin', 
                                  :header_message  => 'Errors',
                                  :message  => ""  %>							  
<div class='indent'>
    <%= render :partial => "/collections/instance_list" %>
</div>
