<div class='instance_list'>
    <%
    headers = %w()
    headers << 'Cache'
    headers << 'Size (MB)'
    %>
	
    <%= instance_table_start(headers) %>
    <% for pi in @content_provider_status_items %>
    <tr>
        <%= content_tag('td', pi.cache) %>
        <%= content_tag('td', pi.size_mb, :align => 'right') %>
    </tr>
    <% end %>
    
    <% sizesum =  @content_provider_status_items.collect{|pi| pi.size_mb}.sum %>
    <tr>
        <td colspan="10">
           
        </td>
    </tr>
    <tr>
        <td>
            Total 
        </td>
        <%= content_tag('td', sizesum, :align => 'right') %>
    </tr>
    <%= instance_table_stop() %>
</div>
