<script type="text/javascript">

function aus_filter_by_state(state, msg) 
{
   $('.instance_table tbody tr').hide().filter(state).show()
   $('#au_list_title').html("Archival Units &nbsp; " + msg + "<br/>  " + 
                             "<font size='-1' id='au_selectors'> " + make_menu() + "</font>"); 
}


function make_menu() 
{
   return '<a href="' + "javascript:aus_filter_by_state('tr','Showing All');" + '"> All </a> | '   + 
          '<a href="' + "javascript:aus_filter_by_state('.draft','Draft Only');" + '"> Draft Only </a> | '   +  
          '<a href="' + "javascript:aus_filter_by_state('.test, .retest','In Test');" + '"> In Test </a> | '   +  
          '<a href="' + "javascript:aus_filter_by_state('.preserved, .retest','Preserved');" + '"> Preserved</a> | '   +  
          '<a href="' + "javascript:aus_filter_by_state('.retired','Retired');" + '"> Retired </a> ' ; 
} 

$(document).ready(function(){
   if (!$.browser.msie) {
        $(".tablesorter").tablesorter();
   }
   aus_filter_by_state('tr', 'Showing All');
})
			
</script>

<% edit = params['action'] == 'manage_aus' %>

<% show_base_url = !(defined? @collection) %>

<%= instance_table_start({}) %>
<thead>
<tr>
	<%= "<th> &nbsp; </th>" if edit %>
	<th> Archival Unit Parameters </th>
	<th> Status </th>
        <% if (StatusMonitor.active?) then %>
	<th> #Copies </th>
        <% end %>
	<th> &nbsp; </th>
	<%= "<th> &nbsp </th>" unless @content_provider %>
	<%= "<th> Collection </th>" unless @collection %>
</tr>
</thead>

<% if edit then %>
<%= form_tag( set_au_states_collections_url(@collection)) %>

<tbody>
<% first_row = true %>
<% for au in @archival_units %>
  <%= "<tr class='#{au.au_state.name}'>" %> 
    <%= content_tag('td', archival_unit_delete_link(au))  %>
    <%= content_tag('td', archival_unit_param_table(au, show_base_url) ) %>
    <%= content_tag('td', archival_unit_preservation_status_edit(au)) %>
    <%= content_tag('td', au.rep_count) if StatusMonitor.active?  %>
    <%= content_tag('td', archival_unit_off_line_edit(au))  %>
    <%= content_tag('td', render(:partial => "/content_providers/acronym", 
                                 :locals => { :content_provider => au.collection.content_provider }))  unless @content_provider %>
    <%= content_tag('td', link_to(au.collection.title, au.collection))  unless @collection  %>
    <%= content_tag('td', submit_tag('Save')) if first_row %>
	<% first_row = false %>
  </tr>
<% end %>
<%= instance_table_stop() %>
</form>

<% else %>


<tbody>
<% for au in @archival_units %>
  <%= "<tr class='#{au.au_state.name}'>" %> 
    <%= content_tag('td', archival_unit_param_table(au, show_base_url) ) %>
    <%= content_tag('td', archival_unit_preservation_status_link(au)) %>
    <%= content_tag('td', au.rep_count) if StatusMonitor.active?  %>
    <%= content_tag('td', archival_unit_off_line(au))  %>
    <%= content_tag('td', render(:partial => "/content_providers/acronym", 
                                 :locals => { :content_provider => au.collection.content_provider }))  unless @content_provider %>
    <%= content_tag('td', link_to(au.collection.title, au.collection))  unless @collection  %>
  </tr>
<% end %>

<% end%>
<%= instance_table_stop() %>
