<%= render :partial => "/plugins/headline" %>

<table class="show_record_table">
<%= render :partial => "/plugins/prop_provider" %>
<%= render :partial => "/plugins/prop_plugin_xml" %>
<%= render :partial => "/plugins/prop_params" %>
</table> 

<%= left_right_title( links_to_au_state_listers(), 
             link_to('List Collections', @plugin))
%>

<div class='indent'>
    <%= render :partial => "/archival_units/instance_list" %>
</div>
