<h1> Content provider: Create New </h1> 

<% form_for(@content_provider) do |f| %>
  <p> 
  <%= f.error_messages %>
  </p> 

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
      Plugin Prefix 
      <br/>
      <%= f.text_field :plugin_prefix %>
  </p>
  <p>
      Favicon Url <br/>
	  <%= f.text_field :icon_url %>
  </p>
  <p>
      Acronym <br/>
	  <%= f.text_field :acronym,  :maxlength => 4%>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
