<h1> application/show_html </h1>
<% @collection = Collection.find(5) %>
<%= render :partial => "/collections/head" %>
<%= render :partial => "/collections/foot" %>
<ul>
    <li>
        Remote Id <%= @collection.remote_id %>
    </li>
    <li>
        <%=
        url = "/collections/5/metadata.xml";
        link_to_ext(url, url) if url %>
    </li>
    <li>
        <span id="metadata_data"><%= url %></span>
    </li>
	
	<li>
        SHOW <span id="metadata_show">SHOW METADATA ></span>
    </li>
	
	<li>
        LINK <span id="metadata_link"><%= url %></span>
    </li>
	
</ul>
<script type="text/javascript">    
window.my_config = {
    md_url: '',
	data: '',
	doc: ''
}

function digestMetadataXml(data) 
{
  var rows = '';
  
  var items = $(data).find('item'); 
  window.my_config.data = data
  window.my_config.doc = doc
  items.each(function(){
    rows = rows +
    "<tr><td width='125px'>" +
    $(this).find('label').text() +
    "</td><td>" +
    $(this).find('value').text() +
    "</td></tr>";
  });
  return rows; 
}

function insertFromXml(data){
	alert("insertFromXml('" + data + "');");
    if (data) {
        var rows = digestMetadataXml(data);
        if (rows != '') {
            $('#metadata_show').hide();
            $('#metadata_data').html(rows);
        }
        else {
            $('#metadata_show').html('');
            $('#metadata_link').html("Undefined");
        }
    }
    else {
        $('#metadata_show').html('');
        $('#metadata_link').html("Undefined");
    }
}
    

    
    jQuery(document).ready(function($){
        // get  and then format metadata xml as a table 
        window.my_config.md_url = $("#metadata_data").html();
        alert("ajax"); 
		$.ajax({
            url: window.my_config.md_url,
            success: function(data){
				insertFromXml(data);
            },
			error: function(){
				insertFromXml(null);            }
        });
//        insertFromXml(window.my_config.md_url)
        return;
        
    });
    
    
    
</script>
