<script type="text/javascript">
     $(document).ready(function(){
				if (!$.browser.msie) {
                	$(".tablesorter").tablesorter();
				}
            })
</script>

<h1> Archives </h1> 

<%= instance_table_start(%w(Acronym Title  #Collections)) %>

<% for archive in @archives %>
  <tr>
    <td><%= link_to archive.title, archive %></td>
    <td><%=h archive.description %></td>
	<td align="right"><%= archive.collections_count %></td>
  </tr>
<% end %>


<%= instance_table_stop() %>
