<h1> Archive: <%=h @archive.title %></h1>

<h2> Preservation Status</h2>

<div class='indent'>
   <div class='instance_list'>
    <%
    headers = %w()
    headers << 'Cache'
    headers << 'Size (MB)'
    %>
	
    <%= instance_table_start(headers) %>
    <% for pi in @archive_status_items %>
    <tr>
        <%= content_tag('td', pi.cache) %>
        <%= content_tag('td', pi.size_mb, :align => 'right') %>
    </tr>
    <% end %>
    
    <% sizesum =  @archive_status_items.collect{|pi| pi.size_mb}.sum %>
    <tr>
        <td colspan="10">
           &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Total 
        </td>
        <%= content_tag('td', sizesum, :align => 'right') %>
    </tr>
    <%= instance_table_stop() %>
</div>

</div>
