<h1> Create New Collection </h1> 

<p> 
All fields required. 
</p> 

<% form_for(@collection) do |f| %>
<table class="layout_table" border="0">
    <tr>
    <td>
        <%= f.label :title %>
    </td>
    <td>
        <%= f.text_field :title %>
    </td>
    <td rowspan="4">
        <%= f.error_messages %>
    </td>
    <tr>
        <td>
            <%= f.label :archive %>
        </td>
        <td>
            <%= select_one 'collection[archive]', Archive.find(:all), :title %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :content_provider %>: 
        </td>
        <td>
            <%= @content_provider.name %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :base_url %>: 
        </td>
        <td>
            <%= f.text_field :base_url %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :description %>
        </td>
        <td colspan="2">
            <%= f.text_area :description, :cols => 80, :rows => 10 %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.submit "Create" %>
        </td>
    </tr>
</table>
<% end %>
