<h1> Archival Unit </h1>

<div class='indent'>
	&nbsp; <br/> 
	Collection: <%= collection_icon_title(@archival_unit.collection) %> <br/>
	Parameters: 
	<div class="indent">
    <%= archival_unit_param_table(@archival_unit, true) %>
	</div>
</div>


<h2> LOCKSS Archival Unit Identifier </h2>
<div class='indent'>
<%= @archival_unit.lockss_au_id ? @archival_unit.lockss_au_id  : "UNDEFINED" %>  <br/>
</div>

<% update_lnk = link_to('Update',   {:controller => :archival_units, 
                        :action => :update_status,
                        :au_id => @archival_unit.id}, { :class => "super" } ) %>
						
<% if (defined?(@preservation_status_items)) then %> 
	<% if @preservation_status_items == [] then %>
	<h2 class="highlight"> No Preservation Copies </h2> 
	<%= update_lnk %>						
	<% else %>
	<h2> Preservation Status </h2>
	<%= update_lnk %>						
	<div class='indent'>
	    <%= render :partial => "/preservation_status_items/instance_list" %>
	</div>
	<%end %>
<%end %>
